/* Index HTML page */ 

ul.nav-bar {
	list-style-type: none;
	margin-left: 0;
	padding-left: 200px;
	padding-top: 15px;

	height: 50px;
	/*width: 320px;*/

	border-bottom: 2px solid white;

}

.nav-bar li {
	display: inline;
	font-family: Helvetica;
	letter-spacing: 0.3em;
	padding: 15px 30px 0 30px;
/*	padding-left: 30px;
	padding-right: 30px;*/
	text-transform: uppercase;

}

.nav-bar a {
	padding-top: 20px;
	text-decoration: none;
}

section {
	background-color: #FFE4D8;
	margin: 0 auto;

	height: 600px;
	width: 90%;
}


main {
	background-color: #fff;
	font-family: 'IM Fell English', serif;
	font-size: 36px;
	line-height: 80px;
	margin-left: 20px;

	position: relative;
	text-align: center;
	top: 40px;
	z-index: 2;

	height: 400px;
	width: 100%;
}

main > span {
	color: gray;
	font-family: Helvetica;
	font-size: 14px;	
	letter-spacing: 0.2em;
	padding-right: 55%;

	text-transform: uppercase;
}

th.index-image-one {
	background-image: url("/images/cup-of-tea-2.jpg");
	background-repeat: no-repeat;
	/*float: right;*/
	height: 400px;
	width: 300px;

	position: relative;
	top: 40px;
}

th.white-border {
	background-color: #fff;
	height: 400px;
	width: 3px;

	position: relative;
	top: 38px;
	right: 2px;

}

th.index-image-two {
	background-image: url("/images/pink-cake.jpg");
	background-repeat: no-repeat;
	height: 400px;
	width: 300px;

	position: relative;
	top: 40px;
}

th.index-image-three {
	background-image: url("/images/love-coaster.jpg");
	background-repeat: no-repeat;
	height: 400px;	
	width: 250px;

	position: relative;
	top: 40px;
}

/* Mobile HTML page */

.mobile-border-dim {
	height: 1334px;
	width: 320px;

	border: 2px solid black;
	margin: 0 auto;
}

.mobile-nav-bar {
	height: 60px;
	width: 320px;

	border-bottom: 2px solid gray;
}

.landing-page-background {
	background-color: #FFE4D8;

	height: 490px;
	width: 320px;
}

.mobile-landing-page-photo {
	/*background-position: center;*/
	background-image: url("/images/succulent-garden.jpg");
	margin: 0 auto;

	position: relative;
	top: 20px;

	height: 213px;
	width: 300px;

}

.mobile-secondary-photo {
	background-image: url("/images/color-pencil-drawing.jpg");
	margin: 0 auto;
	margin-top: 20px;

	position: relative;
	top: 20px;

	height: 213px;
	width: 300px;

}

.main-article {
	width: 300px;
	margin: 0 auto; /* Applying center property here, so that main-article-image stays centered */
}

.main-article h3 {
	letter-spacing: 1px;
	/*padding-left: 10px;*/
	padding-bottom: 15px;
	text-transform: capitalize;

}

.main-article-image {
	background-image: url("/images/find-best-lipstick-color.jpg");
	margin: 0 auto;
	/*text-align: center;*/

	height: 200px;
	/*width: 300px;*/
}

.subheader {
	color: gray;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 1px;

	padding-left: 5px;
}

.main-article h4 { 
	letter-spacing: 1px;
	line-height: 1.6;
	text-decoration: none;
	text-transform: capitalize;

	position: relative;
	top: -10px;
}